<!DOCTYPE html>
<html>
<head>
	<title>Ученик</title>
</head>
<body>
	<h1>Регистрация. Учитель</h1>
	<strong>{{ err }}</strong>
	<form method="post">
		<input type="text" name="name"><br>
		<input type="text" name="username"><br>
		<input type="text" name="password"><br>

		<input type="radio" name="options" id="option1" value="Биология">Биология</input><br>
		<input type="radio" name="options" id="option2" value="Математика">Математика</input><br>
		<input type="radio" name="options" id="option3" value="Физика">Физика</input><br>
		<button>Submit</button>
	</form>
</body>
</html>